body {
	margin: 0;
}

#content_header {
	width: 100%;
	min-width: 100%;

	/* habilita o flex nos filhos diretos */
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  /* centraliza na vertical */
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;

  /* centraliza na horizontal */
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;

  background: white;
}

#content_header img {
	margin-right: 25px;
}

#box_content {
	width: 80%;
	min-width: 80%;

	margin-left: 10%;
	margin-top:40px;
	margin-bottom: 40px;
}

#box_text_area {
	width:95%;
	margin-left: 2.5%;
	height: 200px;
	background:black;
}

#box_text_area textarea {
	width:100%;
	height: 100%;
	font-family: monospace;
	margin-bottom: 20px;
}

#box_codigo_gerado {
	width:95%;
	margin-left: 2.5%;
	min-height: 250px;
	height: auto;
	margin-bottom: 20px;
}

#box_tecnologias_utilizadas {
	width: 100%;
	min-width: 100%;

	/* habilita o flex nos filhos diretos */
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  /* centraliza na vertical */
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;

  /* centraliza na horizontal */
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#box_img {
	width: auto;
	height: auto;
	margin-bottom: 20px;
}